<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

<!--    Bean prototype-->
    <bean id="petDog"
          class="com.example.spring_core.x_items_and_objects.xmlConfigItems.Dog"
          scope="prototype">
    </bean>


<!--    Bean singleton-->
    <bean id="petCat"
          class="com.example.spring_core.x_items_and_objects.xmlConfigItems.Cat">
    </bean>

    <!--    Bean singleton   DI setter-->
    <bean id = "_human" class="com.example.spring_core.x_items_and_objects.xmlConfigItems.Human">
        <property name="pet" ref="petCat"/>
        <property name="name" value="${human.name}"/>
        <property name="surname" value="Stivinno"/>
        <property name="age" value="${human.age}"/>

    </bean>

</beans>